# Core
pyrofork==2.3.45
tgcrypto
python-dotenv==0.21.1

# HTTP / Utils
requests
aiohttp
pytz
humanize==4.6.0
colorama

# MongoDB (مطلوبة فعلاً)
pymongo
motor
dnspython==2.3.0

# Parsing / Media
Pillow==9.4.0
psutil==5.9.4
ffmpeg-python>=0.2.0
opencv-python-headless==4.7.0.68
hachoir
wget

# Search / Scraping
beautifulsoup4
googletrans==3.1.0a0
gTTS==2.3.1

# YouTube / Downloaders
yt-dlp
youtube-dl
youtube-search
youtube-search-python==1.4.6
youtubesearchpython

# Web / Templates / Scheduling
jinja2==3.1.4
apscheduler
pyshorteners

# Shortlink (إذا الكود يستعملها)
shortzy

# OpenAI (إذا plugins/Extra/engine.py شغّال)
openai==0.25.0

# IMDb
git+https://github.com/Joelkb/cinemagoer
